<h2> CRUD PARA BACK-TEST NABENIK </h2>

<form novalidate #f="ngForm">
  <br>
  <h3> Nueva Pelicula</h3>
  <div class="form-group">
    <label for="title">Title </label>
    <input type="text"  id="title" placeholder="Titulo de la movie" [(ngModel)]="movietitle"
      name="title">
      <label for="year">  Lanzamiento </label>
    <input type="number"  id="year" min="1900" placeholder="Anio de lanzamiento" [(ngModel)]="year"
      name="year">
      <label for="year">  Duracion </label>
      <input type="number"  id="duration"  placeholder="Duracion pelicula" [(ngModel)]="duration"
      name="duration">
  </div>
  <button (click)="onCreate()" class="btn btn-outline-success btn-block" [disabled]="!f.valid">Crear</button>
  <input type="reset" value="Borrar">
</form>

<form novalidate #f="ngForm">
  <br>
  <h3> Editar Pelicula</h3>
  <div class="form-group">
    <label for="title">Id </label>
    <input type="number" id="id" placeholder="Id de la movie" [(ngModel)]="idMovie"
    name="id">
    <label for="title">Title </label>
    <input type="text"  id="upTitle" placeholder="Titulo de la movie" [(ngModel)]="upMovieTitle"
      name="upTitle">
      <label for="year">  Lanzamiento </label>
    <input type="number"  id="upYear" min="1900" placeholder="Anio de lanzamiento" [(ngModel)]="upYear"
      name="upYear">
      <label for="year">  Duracion </label>
      <input type="number"  id="upDuration"  placeholder="Duracion pelicula" [(ngModel)]="upDuration"
      name="upDuration">
  </div>
  <button (click)="onUpdate()" class="btn btn-outline-success btn-block" [disabled]="!f.valid">Actualizar</button>
  <input type="reset" value="Borrar">
</form>

<form action="eliminarPelicula" method="delete">
  <h3> Eliminar Pelicula</h3>
  <div class="form-group">
    <label for="title">Id </label>
    <input type="number" id="deleteId" placeholder="Id de la movie" [(ngModel)]="deleteId"
    name="deleteId">
  </div>
  <button (click)="onDelete()" class="btn btn-outline-success btn-block" [disabled]="!f.valid">Eliminar</button>
  <input type="reset" value="Borrar">
</form>

<form action="eliminarPelicula" method="delete">
  <h3> Ver Pelicula</h3>
  <div class="form-group">
    <label for="title">Id </label>
    <input type="number" id="verMovie" placeholder="Id de la movie" [(ngModel)]="movieId"
    name="verMovie">
  </div>
  <button (click)="onWatch()" class="btn btn-outline-success btn-block" [disabled]="!f.valid">Ver</button>
  <input type="reset" value="Borrar">
</form>


<form action="eliminarPelicula" method="delete">
  <h3> Mis Pelicula</h3>
  <button (click)="onSee()" class="btn btn-outline-success btn-block" [disabled]="!f.valid">Mis Peliculas</button>
</form>
